@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker__day--selected {
  background-color: #624cf5 !important;
  color: #ffffff !important;
}

.react-datepicker__time-list-item--selected {
  background-color: #624cf5 !important;
}
